# Ignore virtual environment folders
venv/
myenv/
project_env/

# Ignore the data directory
data/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore large model files
*.pth
